{% extends "base.html" %}


{% block content%}
<h1>Информация о курсах</h1>
<p>Категория слушателей
─
слушатели с базовой компьютерной подготовкой и имеющие
среднее профессиональное и (или) высшее образование, либо
получающие среднее профессиональное и (или) высшее
образование;
Срок обучения
200 учебных часов;
Наименование модулей и тем занятий
Всего
Практи
часов
Лекции
ческие
занятия
Введение
Введение в императивные ЯВУ
Основные элементы языка
Структура программы
Типы данных и переменные
Консольный вывод и ввод
Ветвления и циклы
Инструменты разработчика
Среда разработки IntelliJ IDEA
JDK
Отладчик. Пошаговое выполнение программы
GIT
Методы
Заголовок и вызов функции
Передача параметров по значению и по ссылке
Рекурсия
Массивы
Массивы фиксированной и переменной длины
Алгоритмы статистики, поиска, сортировки
Многомерные массив
Работа с файлами
Введение в ООП
Классы и объекты
Наследование
Конструкторы и блоки инициализации
Полиморфизм
Работа со строкамb
Перечисления
Обработка исключений
Разбор практических задач</p>
{% endblock %}